@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@source "../views";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {

    /* Fonts */
    --font-poppins: "Poppins", sans-serif;

    /* Color Pallete */
    --color-primary: #007AFF;
    --color-white: #FEFEFF;
    --color-dark: #2C2C2C;
    --color-gray: #999999;
    --color-danger: #EC221F;
    --color-success: #14AE5C;
    --color-warning: #E8B931;
    --color-primary-gradient: linear-gradient(#007AFF, #0E315D);

    /* Color Primary Shades */
    --color-primary-900: #0E315D;
    --color-primary-800: #085DC5;
    --color-primary-500: #1EACFF;
    --color-primary-300: #83DFFF;
    --color-primary-100: #D6F2FF;
    --color-primary-50: #EDFAFF;
}

@layer components {
    .nav-link {
        @apply w-full pl-[1.5rem] py-4 font-semibold rounded-r-full text-dark opacity-80 text-sm hover:bg-slate-100 hover:opacity-100 hover:text-primary transition
    }

    .main-container {
        @apply fixed top-[60px] left-[240px] bg-slate-50 w-[calc(100%-240px)] h-[calc(100dvh-60px)] overflow-y-auto
    }

    .dashboard-card-header {
        @apply text-base uppercase font-bold text-dark w-full
    }

    /* Untuk Chrome, Edge, Safari */
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
    /* Untuk Firefox */
    .scrollbar-hidden {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}

.fade-move-up {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.fade-move-up.show {
    opacity: 1;
    transform: translateY(0);
}